GETDX_API_KEY=your_api_key_here
EVENTS_TRACKED=Workspace Deleted,Workspace Manual Build Failure,Workspace Automatic Build Failure,Workspace Automatically Updated,Workspace Dormant,Workspace Marked For Deletion,User Account Created,User Account Deleted,User Account Suspended,User Account Activated,Template Deleted 